
.divion{
	background-color: #5f9ea0;
	width: 500px;
	align-content: center;
	border-radius: 10px;
}
p{
	color: #fff;
	font-weight: bold;
}
h1{
	font-weight: bold;
	color: black;
}
h2{
	color: black;
}